<body class="homepage">
  <header>
    <img src="/images/logo.png"/>
    <nav class="header-right">
      <a href="/registrations/signup">Sign Up</a>
      <a href="/sessions/login">Log In</a>
    </nav>
  </header>
</body>
