<h1>Bank Statement</h1>
<a href="/users/home"><h2>Back to Dashboard</h2></a>
<div id="app"></div>
<script>
window.chartOfAccounts = <%= @chart_of_accounts.to_json %>  
</script>
<script type="text/babel" src="/javascripts/application.js">
</script>




