<body class="bank-rec">
<h1>Bank Statement</h1>
<div class="statement">
<div id="app"></div>
<script>
window.chartOfAccounts = <%= @chart_of_accounts.to_json %>  
</script>
<script type="text/babel" src="/javascripts/application.js">
</script>
</div>
<h3><a href="/users/home">Back to Dashboard</a></h3>
</body>




