
<body class="homepage">
<div class="header">
<img src="/images/logo.png" alt="logo" style="width:25em; height:10em;"/>
<div class="header-right">
<a class="signup" href="/registrations/signup">Sign Up</a>
<a class="sign-in" href="/sessions/login">Log In</a>
</div>
</div>
</div>
</body>


