header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  margin-right: 2rem;
}

header img,
header nav {
  color: solid #516fca;
  font-family: "Special Elite", cursive;
  font-size: 1.5rem;
}

header nav a:hover {
  background-color: #92e0e1;
}

h1 {
  color: grey;
  text-align: center;
}

.login {
  background-color: #c0cfea;
  text-align: center;
  padding: 10rem;
  color: grey;
  font-size: 2rem;
}

.sign-up {
  background-color: #c0cfea;
  text-align: center;
  padding: 10rem;
  color: grey;
  font-size: 1.8rem;
}

.user-homepage {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #c0cfea;
  text-align: center;
  color: grey;
  font-size: 1.8rem;
  margin: 0;
}

/* .account-codes {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 2rem;
}

.chart-container {
  width: 70%;
}*/

.main-accounts {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.balance {
  margin: 0.5rem;
}

.bankrecs {
  margin: 0.5rem;
}

.account-codes {
  display: flex;
  justify-content: space-evenly;
}

.bank-rec {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #c0cfea;
  text-align: center;
  color: grey;
  font-size: 1.3rem;
  margin: 0;
}

.statement {
  text-align: left;
  padding: 3rem;
}

.settings-info {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #c0cfea;
  text-align: center;
  padding: 10rem;
  color: grey;
  font-size: 1.8rem;
}

.accounts {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #c0cfea;
  text-align: left;
  padding: 3rem;
  color: grey;
  font-size: 1.8rem;
}
