<header>
  <img src="/images/logo.png"/>
</header>
<h1>Please enter your details</h1>
<form action="/sessions/login" method="post">
  <label for="">email</label>
  <input type="text" name="email">
  <label for="">password</label>
  <input type="password" name="password">
  <button>login</button>
</form>
