header {
  text-align: justify;
  color: #fff;
}

header::after {
  content: "";
  display: inline-block;
  width: 100%;
}
header img,
header nav {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  color: solid #516fca;
  font-family: "Special Elite", cursive;
  font-size: 1.5rem;
}

header nav {
  margin-right: 2rem;
}

header nav a:hover {
  background-color: #92e0e1;
}

.chart-container {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}

.account-box {
  display: flex;
  flex-direction: column;
  background-color: grey;
}
