header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

header img,
header nav {
  text-align: left;
  color: solid #516fca;
  font-family: "Special Elite", cursive;
  font-size: 1.5rem;
}

.header-right {
  flex-direction: row;
  margin-right: 2rem;
}

header nav a:hover {
  background-color: #92e0e1;
}

.chart-container {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}

.account-box {
  display: flex;
  flex-direction: column;
  background-color: grey;
}

/*****
OLD RUBY STYLES
******/

header {
  text-align: justify;
  color: #fff;
}

header::after {
  content: "";
  display: inline-block;
  width: 100%;
}
header img,
header nav {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  color: solid #516fca;
  font-family: "Special Elite", cursive;
  font-size: 1.5rem;
}

header nav {
  margin-right: 2rem;
}

header nav a:hover {
  background-color: #92e0e1;
}

h1 {
  color: grey;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.login {
  background-color: #c0cfea;
  text-align: center;
  padding: 10rem;
  color: grey;
  font-size: 2rem;
}

.sign-up {
  background-color: #c0cfea;
  text-align: center;
  padding: 10rem;
  color: grey;
  font-size: 1.8rem;
}

.user-homepage {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #c0cfea;
  text-align: center;
  color: grey;
  font-size: 1.8rem;
  margin: 0;
}

.header-user {
  overflow: hidden;
  background-color: white;
}

.header-user a {
  float: right;
  color: grey;
  text-align: center;
  padding: 40px;
  text-decoration: none;
  font-size: 23px;
  line-height: 25px;
  border-radius: 4px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.header-user a:hover {
  background-color: grey;
  color: lightgrey;
}

.account-codes {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 2rem;
}

.chart-container {
  width: 70%;
}

.main-accounts {
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: grey;
}

.bank-rec {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #c0cfea;
  text-align: center;
  color: grey;
  font-size: 1.3rem;
  margin: 0;
}

.statement {
  text-align: left;
  padding: 3rem;
}

.settings-info {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #c0cfea;
  text-align: center;
  padding: 10rem;
  color: grey;
  font-size: 1.8rem;
}

.accounts {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #c0cfea;
  text-align: left;
  padding: 3rem;
  color: grey;
  font-size: 1.8rem;
}

.header-logo a {
  float: left;
  color: grey;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 23px;
  line-height: 25px;
  border-radius: 4px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
