<link rel="stylesheet" href="/stylesheets/frontend.css">
<header>
  <img src="/images/logo.png"/>
  <nav class="header-right">
    <a href="/users/settings">Settings</a>
    <a href="/sessions/logout">Log Out</a>
  </nav>
</header>
<div id="root">react app goes here</div>
<script src="/javascripts/frontend.js"></script>
</body>
