<header>
  <img src="/images/logo.png"/>
  <nav class="header-right">
    <a href="/users/settings">Settings</a>
    <a href="/sessions/logout">Log Out</a>
  </nav>
</header>
<div id="root">Root</div>
<script src="/javascripts/main.js"></script>
</body>
